.footer {
  background-color: var(--main-bg-color);
  padding: 20px;
  display: flex;
}

.footer-list {
  width: 50%;
}

.footer-list ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer h3 {
  padding: 10px 0;
}

@media screen and (max-width: 767.98px) {
  .footer {
    flex-direction: column;
    gap: 30px;
    padding: 30px;
  }
}
