header {
  display: flex;
  justify-content: space-between;
  height: 63px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 70px;
}

.navlink {
  display: flex;
  justify-content: space-around;
  gap: 60px;
  padding: 0 10px;
}

.navlink a {
  padding-top: 15px;
  text-align: center;
  border-top: 2px solid transparent;
}

.navlink a:hover {
  border-top: 2px solid var(--main-color);
}

@media screen and (max-width: 767.98px) {
  header {
    flex-direction: column;
    height: 80px;
    padding-top: 15px;
    margin-bottom: 30px;
    gap: 15px;
  }

  .logo {
    justify-content: center;
  }

  .navlink a {
    width: 50%;
    padding-bottom: 15px;
    text-align: center;
    border-top: 0;
    border-bottom: 2px solid transparent;
  }

  .navlink a:hover {
    border-top: 0;
    border-bottom: 2px solid var(--main-color);
  }
}
